---
import PageShell from "@layouts/PageShell.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<PageShell title="About me">
	<Header />

	<main class="container mx-auto h-screen text-center">In construction</main>

	<Footer />
</PageShell>
