---
import AnimatedParallaxLandscape from "@components/AnimatedLandscapeParallax.astro";
import PageShell from "@layouts/PageShell.astro";
---

<PageShell title="Home">
	<div class="h-screen">
		<AnimatedParallaxLandscape />
	</div>
</PageShell>
