---
import PageShell from "@layouts/PageShell.astro";
import AnimatedLandscapeParallax from "@components/AnimatedLandscapeParallax.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Typewriter from "@components/Typewriter.astro";
---

<PageShell title="Home">
	<div class="flex h-screen flex-col drop-shadow-xl">
		<Header />

		<AnimatedLandscapeParallax>
			<main
				class="absolute inset-0 flex select-none flex-col justify-center p-4 text-center"
			>
				<h1 class="text-4xl font-bold">
					<Typewriter text="Alejandro González" keyPressDelay={150} />
				</h1>
				<h2 class="text-2xl font-light">
					<Typewriter
						text={[
							"I make computers do stuff you didn't realize you wanted.",
							"Your helping hand for all things computer.",
							"From the reset vector to the pixels on your screen: I dabble with everything in between.",
							"Computer engineering at the service of people like you.",
						]}
						loop={true}
					/>
				</h2>
			</main>
		</AnimatedLandscapeParallax>
	</div>

	<Footer />
</PageShell>
