---
import PageShell from "@layouts/PageShell.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { LicensesReport } from "astro-licenses-report";
---

<PageShell title="Third-party stuff">
	<Header />

	<main class="container mx-auto p-8">
		<p
			>It is wise to stand on the shoulders of giants. I would like to give
			credit to the amazing libraries that have been used in the creation of
			this site:</p
		>

		<LicensesReport depth={1} linkText="Homepage" class="license-report" />

		<p
			>The images used in the animated home page landscape background are part
			of "The Dawn - Seamless Parallax Background", an asset pack by <i
				>saukgp</i
			>, available at <a
				href="https://saurabhkgp.itch.io/the-dawn-parallax-background"
				>https://saurabhkgp.itch.io/the-dawn-parallax-background</a
			>.</p
		>
	</main>

	<Footer />
</PageShell>

<style lang="scss" is:global>
	div.license-report.table {
		@apply table-auto pb-4 pt-4 text-sm sm:pl-4 sm:pr-4;
		display: table;
	}

	div.license-report.thead {
		@apply table-header-group bg-brown-400 max-sm:hidden;
	}

	div.license-report.tr {
		@apply table-row max-sm:flex max-sm:flex-col;
	}

	div.license-report.tbody {
		@apply table-row-group break-all max-sm:flex max-sm:flex-col max-sm:gap-4;
	}

	div.license-report.td,
	div.license-report.th {
		@apply table-cell p-1 align-middle;
	}

	div.license-report.th {
		@apply text-lg font-bold;
	}

	div.license-report.tbody div.license-report.tr div.license-report.td {
		@apply sm:border-b;
	}

	div.license-report.tbody div.license-report.tr div.license-report.td:first-child {
		@apply select-all font-mono;
	}

	div.license-report.tbody div.license-report.tr div.license-report.td:nth-child(2) {
		@apply italic;
	}
</style>
