---
const { ...props } = Astro.props;
---

<button {...props}><slot /></button>

<style lang="scss">
	button {
		@apply rounded-md border-2 border-brown-500 bg-brown-400 p-1 text-amber-50 transition-colors hover:bg-brown-500;
		appearance: none;
	}
</style>
